#calculator {
  border: 1px solid rgb(187, 183, 183);
  border-radius: 5px;
  width: 200px;
  background-color: hsl(0, 0%, 15%);
  padding-bottom: 5px;
}

#display {
  margin: 10px;
  width: 85%;
  font-size: 25px;
  height: 45px;
  border-radius: 30px;
  color: white;
  background-color: hsl(0, 0%, 20%);
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  width: 45px;
  height: 45px;
  margin: 3px;
  border-radius: 50%;
  border: none;  
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 1rem;
  font-weight: bold;;
  cursor: pointer;
}

button:hover{
  background-color: hsl(0, 0%, 40%);
}

button:active{
  background-color: hsl(0, 0%, 50%);
}

#operator-btn{
  background-color: hsl(35, 100%, 50%);
}

#operator-btn:hover{
  background-color: hsl(35, 100%, 65%);
}

#operator-btn:hover{
  background-color: hsl(35, 100%, 75%);
} 